<h1> Weather Conditions for <%= @condition.date %></h1>

<ul>
  <li> Maximum Temperature: <%= @condition.max_temp %></li>
  <li> Mean Temperature: <%= @condition.mean_temp %></li>
  <li> Minimum Temperature: <%= @condition.min_temp %></li>
  <li> Mean Humidity: <%= @condition.mean_humidity %></li>
  <li> Mean Visibility: <%= @condition.mean_visibility %></li>
  <li> Mean Windspeed: <%= @condition.mean_windspeed %></li>
  <li> Precipitation: <%= @condition.precipitation %></li>
</ul>
