<h1>Welcome To The Conditions Dashboard</h1>

<p>Average Number of Rides between 40-50 degrees F: <%= @forty_to_fifty_temp_range %></p>
<p>Average Number of Rides between 50-60 degrees F: <%= @fifty_to_sixty_temp_range %></p>
<p>Average Number of Rides between 60-70 degrees F: <%= @sixty_to_seventy_temp_range %></p>
<p>Average Number of Rides between 70-80 degrees F: <%= @seventy_to_eighty_temp_range %></p>
<p>Average Number of Rides between 80-90 degrees F: <%= @eighty_to_ninety_temp_range %></p>
<p>Average Number of Rides between 90-100 degrees F: <%= @ninety_to_hundo_temp_range %></p> 
