<h1>All Conditions</h1>

<% @conditions.each do |c| %>
  <ul>
    <h3>Date: <%= c.date %></h3>
    <li>Maximum Temperature: <%= c.max_temp%></li>
    <li>Mean Temperature: <%= c.mean_temp%></li>
    <li>Minimum Temperature: <%= c.min_temp%></li>
    <li>Mean Humidity: <%= c.mean_humidity%></li>
    <li>Mean Visibility: <%= c.mean_visibility%></li>
    <li>Mean Windspeed: <%= c.mean_windspeed%></li>
    <li>Precipitation: <%= c.precipitation%></li>
    <li><%= link_to "Edit", edit_admin_condition_path(c) %></li>
    <li><%= link_to "Delete", admin_condition_path(c), method: "delete" %></li>
  </ul>
<% end %>
