<h1>All Trips</h1>

<% @trips.each do |t| %>
<ul>
  <h3>Trip: <%= t.id %></h3>
  <li>Duration: <%= t.duration %></li>
  <li>Start Date: <%= t.start_date %></li>
  <li>Start Station Name: <%= t.start_station_name(t) %></li>
  <li>End Date: <%= t.end_date %></li>
  <li>End Station Name: <%= t.end_station_name(t) %></li>
  <li>Bike Id: <%= t.bike_id %></li>
  <li>Subscription Type: <%= t.subscription_type %></li>
  <li>Zip Code: <%= t.zip_code %></li>
  <li><%= link_to 'See Trip', trip_path(t) %></li>
  
</ul>
<% end  %>

<%= paginate @trips %>
