<h1>All Stations</h1>

<% if current_admin? %>
<%= link_to "Add New Station", new_admin_station_path %>
<% end  %>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Station Name</th>
      <th scope="col">Dock Count</th>
      <th scope="col">City</th>
      <th scope="col">Installation Date</th>
      <% if current_admin?  %>
        <th></th>
        <th></th>
        <% end %>
    </tr>
  </thead>
  <% @stations.each do |station|  %>

  <tbody>
    <tr>
      <th scope="row"><%= link_to "#{station.name}", station_path(station.slug) %></th>
      <td><%= station.dock_count %></td>
      <td><%= station.city %></td>
      <td><%= station.installation_date.strftime("%m-%d-%Y") %></td>
      <% if current_admin? %>
      <td><%= link_to "Edit", edit_admin_station_path(station) %></td>
      <td><%= link_to "Delete", admin_station_path(station), method: "delete" %></td>
      <% end %>
    </tr>
  </tbody>
  <% end %>
</table>

<%= paginate @stations %>
