<h1>Order #<%= @order.id %></h1>

<p>Status: <%= @order.status %></p>
<p>Order Date: <%= @order.created_at.strftime("%m-%d-%Y %H:%M") %></p>
<% if @order.status == "completed" || @order.status == "cancelled" %>
  <p>Most Recent Activity: <%= @order.updated_at.strftime("%m-%d-%Y %H:%M") %></p>
<% end %>

<table>
  <th>Item</th>
  <th>Quantity</th>
  <th>Subtotal</th>
  <% @order_items.each do |order_item| %>
  <tr>
    <td><%= order_item.item.title %></td>
    <td><%= order_item.quantity %></td>
    <td><%= number_to_currency(order_item.subtotal) %></td>
  </tr>
  <% end %>
</table>

<h4>Order Total: <%= number_to_currency(@order.total) %>
