<table>
  <th>Name</th>
  <th>Quantity</th>
  <th>Add</th>
  <th>Decrease</th>
  <th>Price</th>
  <th>Image</th>
  <th>Subtotal</th>
  <% @cart_items.each do |cart_item| %>
  <tr>
    <td class="title-#{cart_item.id}"><%= cart_item.title %></td>
    <td class="quantity-#{cart_item.id}"><%= cart_item.quantity %></td>
    <td class="increase_button-#{cart_item.id}"><%= button_to "+", "/cart_items/#{cart_item.id}/add" %></td>
    <td class="increase_button-#{cart_item.id}">
      <% if cart_item.quantity == 1 %><%= button_to "-", "/cart_items/#{cart_item.id}/decrease", disabled: true %>
      <% else %><%= button_to "-", "/cart_items/#{cart_item.id}/decrease" %>
      <% end %>
    </td>
    <td class="price-#{cart_item.id}"><%= number_to_currency((cart_item.price)) %></td>
    <td class="image-#{cart_item.id}"><%= image_tag("#{cart_item.image_url}" , size: "30")%></td>
    <td class="subtotal-#{cart_item.id}"><%= number_to_currency(cart_item.subtotal(cart_item)) %></td>
    <td class="remove_item-#{cart_item.id}"><%= button_to 'Remove', cart_items_path(item_id: cart_item.id), method: :delete%></td>
       </tr>
  <% end %>
</table>

<h2>Cart Total</h2>
<p><%= number_to_currency(@cart.total) %></p>
<% if current_user %>
<p><%= button_to "Checkout", orders_path %></p>
<% else %>
<p class='sign-in-checkout'><%= button_to "Sign In To Checkout", login_path %></p>
<p><%= button_to "Sign Up To Checkout", new_user_path, method: :get %></p>
<% end %>
