<h1>Bike Accessories</h1>

<% if current_admin? %>
<%= link_to "Add New Bike Accessory", new_admin_item_path %>
<% end  %>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Image</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
      <% if current_admin?  %>
        <th></th>
        <th></th>
        <% end %>
    </tr>
  </thead>
  <% @items.each do |item| %>

  <tbody>
    <tr>
      <th scope="row"><%= link_to "#{item.title}", item_path(item) %></th>
      <td>
        <img><%= image_tag("#{item.image_url}" , size: "50")%></img>
      </td>
      <td><%= item.description %></td>
      <td><%= number_to_currency(item.price) %></td>
      <td>
      <a href="#" class="btn btn-primary"><% if item.retired? %>
        <li><%= button_to "Unavailable", cart_items_path(item_id: item.id), disabled: true%></li>
      <% else %>
        <li id="item-<%= item.id %>"><%= button_to "Add to Cart", cart_items_path(item_id: item.id)%></li>
      <% end %>
      </a>
    </td>
      <% if current_admin? %>
      <td><%= link_to "Edit", edit_admin_item_path(item) %></td>
      <td><%= link_to "Delete", admin_item_path(item), method: "delete" %></td>
      <% end %>
    </tr>
  </tbody>
  <% end %>
</table>
