<h1>Item: <%= @item.title %></h1>

<ul>
  <li><%= image_tag("#{@item.image_url}" , size: "200")%></li>
  <li> Price: $<%= @item.price.round(2) %> </li>
  <li> Description: <%= @item.description %> </li>
  <% if @item.retired? %>
    <li><%= button_to "Unavailable", cart_items_path(item_id: @item.id), disabled: true%></li>
  <% else %>
    <li><%= button_to "Add to Cart", cart_items_path(item_id: @item.id)%></li>
  <% end %>
</ul>
